
p {
    padding: 0;
    margin: 0;
  }
  
  b {
    padding: 0;
    margin: 0;
  }
  
  #App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    padding: 10px;
    width: 360px;
  }
  
  #logo {
    font-size: 14pt;
    text-decoration: none;
    margin: 5px;
  }
  
  #header {
    margin: 5px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  #navBar {
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #navBar a {
    color: black;
  }
  
  #navBar a:hover {
    color: red;
    cursor: pointer;
  }
  
  .card {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  .card:hover{
    background-color: lightgray;
    cursor: pointer;
  }

  .cardRight{
    display: "flex";
    flex-direction: "column";
    width: "100%";
    vertical-align: 'top';
    text-align: 'left';
    padding: '10px';
  }
  
  .faint {
    font-size: 0.9em;
    color: gray;
  }

  .detail {
    width: 100%;
    line-height: 1.3em; 
    margin: '0 75px';
    text-align: center;
  }

  .stat {
    width: 100%;
    display: "flex";
    flex-direction: "row";
    justify-content: "space-between";
  }